<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define RepoDir="$(var.ProjectDir)..\..\" ?>
  <?define BinX64Dir="$(var.RepoDir)x64\$(var.Configuration)\" ?>
  <Product Id="*"
       Name="PowerToys"
       Language="1033"
       Version="0.11.0"
       Manufacturer="Microsoft"
       UpgradeCode="42B84BF7-5FBF-473B-9C8B-049DC16F7708">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed." />

    <Upgrade Id="42B84BF7-5FBF-473B-9C8B-049DC16F7708">
      <UpgradeVersion
         Minimum="0.11.0" Maximum="0.11.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="yes" />
    </Upgrade>
    
    <MediaTemplate EmbedCab="yes" />

    <WixVariable Id="BinX64Dir.fancy_zones" Value="$(var.BinX64Dir)fancy_zones" Overridable="no" />
    <WixVariable Id="BinX64Dir.shortcut_guide" Value="$(var.BinX64Dir)shortcut_guide" Overridable="no" />
    <WixVariable Id="BinX64Dir.toplevel" Value="$(var.BinX64Dir)toplevel" Overridable="no" />

    <Property Id="WINDOWSBUILDNUMBER" Secure="yes">
      <RegistrySearch Id="BuildNumberSearch" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="CurrentBuildNumber" Type="raw" />
    </Property>
    <Condition Message="This application is only supported on Windows 10 version 1803 (build 17134) or higher.">
      <![CDATA[(WINDOWSBUILDNUMBER >= 17134)]]>
    </Condition>

    <Icon Id="powertoys.ico" SourceFile="$(var.BinX64Dir)toplevel\svgs\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="powertoys.ico" />
    <Feature Id="CoreFeature" Title="PowerToys" AllowAdvertise="no" Absent="disallow" TypicalDefault="install"
             Description="Contains the Shortcut Guide and Fancy Zones features.">
      <ComponentGroupRef Id="Core.FancyZones" />
      <ComponentGroupRef Id="Core.ShortcutGuide" />
      <ComponentGroupRef Id="Core.TopLevel" />
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UI>
      <UIRef Id="WixUI_PTInstallDir"/>
      <Publish Dialog="ExitDialog"
            Control="Finish"
            Event="DoAction"
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Property="_REMOVE_ALL" Value="Yes">1</Publish>
      <Publish Dialog="UserExit" Control="Finish" Event="DoAction" Value="TelemetryLogInstallCancel">NOT Installed</Publish>
      <Publish Dialog="FatalError" Control="Finish" Event="DoAction" Value="TelemetryLogInstallFail">NOT Installed</Publish>
      <Publish Dialog="UserExit" Control="Finish" Event="DoAction" Value="TelemetryLogUninstallCancel">Installed AND _REMOVE_ALL="Yes"</Publish>
      <Publish Dialog="FatalError" Control="Finish" Event="DoAction" Value="TelemetryLogUninstallFail">Installed AND _REMOVE_ALL="Yes"</Publish>
      <Publish Dialog="UserExit" Control="Finish" Event="DoAction" Value="TelemetryLogRepairCancel">Installed AND NOT (_REMOVE_ALL="Yes")</Publish>
      <Publish Dialog="FatalError" Control="Finish" Event="DoAction" Value="TelemetryLogRepairFail">Installed AND NOT (_REMOVE_ALL="Yes")</Publish>
    </UI>
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Bitmaps\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Bitmaps\dialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.RepoDir)\License.rtf" />
    <Property Id="INSTALLSTARTMENUSHORTCUT" Value="1"/>
    <Property Id="CREATESCHEDULEDTASK" Value="1"/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch PowerToys" />
    <Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]PowerToys.exe" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <InstallExecuteSequence>
      <Custom Action="SetRegisterPowerToysSchTaskParam" Before="RegisterPowerToysSchTask" />
      <Custom Action="RegisterPowerToysSchTask" After="InstallFiles">
        NOT Installed and CREATESCHEDULEDTASK = 1
      </Custom>
      <Custom Action="WixCloseApplications" Before="RemoveFiles" />
      <Custom Action="RemovePowerToysSchTasks" After="RemoveFiles" />
      <Custom Action="TelemetryLogInstallSuccess" After="InstallFinalize">
        NOT Installed
      </Custom>
      <Custom Action="TelemetryLogUninstallSuccess" After="InstallFinalize">
        Installed and (NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")
      </Custom>
    </InstallExecuteSequence>

    <CustomAction Id="SetRegisterPowerToysSchTaskParam"
                  Property="RegisterPowerToysSchTask"
                  Value="[INSTALLFOLDER]PowerToys.exe" />

    <!-- Needs to Impersonate="no" and Execute="deferred" in order to run elevated. -->
    <CustomAction Id="RegisterPowerToysSchTask"
                  Return="ignore"
                  Impersonate="no"
                  Execute="deferred"
                  BinaryKey="PTCustomActions"
                  DllEntry="CreateScheduledTaskCA"
                   />

    <CustomAction Id="RemovePowerToysSchTasks"
                  Return="ignore"
                  Impersonate="no"
                  Execute="deferred"
                  BinaryKey="PTCustomActions"
                  DllEntry="RemoveScheduledTasksCA"
                   />

    <CustomAction Id="TelemetryLogInstallSuccess"
                  Return="ignore"
                  Impersonate="yes"
                  BinaryKey="PTCustomActions"
                  DllEntry="TelemetryLogInstallSuccessCA"
                   />

    <CustomAction Id="TelemetryLogInstallCancel"
                  Return="ignore"
                  Impersonate="yes"
                  BinaryKey="PTCustomActions"
                  DllEntry="TelemetryLogInstallCancelCA"
                   />

    <CustomAction Id="TelemetryLogInstallFail"
                  Return="ignore"
                  Impersonate="yes"
                  BinaryKey="PTCustomActions"
                  DllEntry="TelemetryLogInstallFailCA"
                   />

    <CustomAction Id="TelemetryLogUninstallSuccess"
                  Return="ignore"
                  Impersonate="yes"
                  BinaryKey="PTCustomActions"
                  DllEntry="TelemetryLogUninstallSuccessCA"
                   />

    <CustomAction Id="TelemetryLogUninstallCancel"
                  Return="ignore"
                  Impersonate="yes"
                  BinaryKey="PTCustomActions"
                  DllEntry="TelemetryLogUninstallCancelCA"
                   />

    <CustomAction Id="TelemetryLogUninstallFail"
                  Return="ignore"
                  Impersonate="yes"
                  BinaryKey="PTCustomActions"
                  DllEntry="TelemetryLogUninstallFailCA"
                   />
    
    <CustomAction Id="TelemetryLogRepairCancel"
                  Return="ignore"
                  Impersonate="yes"
                  BinaryKey="PTCustomActions"
                  DllEntry="TelemetryLogRepairCancelCA"
                   />

    <CustomAction Id="TelemetryLogRepairFail"
                  Return="ignore"
                  Impersonate="yes"
                  BinaryKey="PTCustomActions"
                  DllEntry="TelemetryLogRepairFailCA"
                   />

    <!-- Close 'PowerToys.exe' before uninstall-->
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
    <util:CloseApplication CloseMessage="yes" Target="PowerToys.exe" ElevatedCloseMessage="yes" RebootPrompt="no" TerminateProcess="0" />
  </Product>

  <Fragment>
    <Binary Id="PTCustomActions" SourceFile="$(var.PowerToysSetupCustomActions.TargetPath)" />
  </Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="PowerToys">
          <Directory Id="ModulesInstallFolder" Name="modules"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PowerToys"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="87321F2B-CC48-4326-881E-9C62CC260DC8">
        <Condition>INSTALLDESKTOPSHORTCUT</Condition>
        <RegistryValue Root="HKCU"
                        Key="Software\[Manufacturer]\[ProductName]"
                        Name="desktopshortcutinstalled"
                        Type="integer"
                        Value="1"
                        KeyPath="yes"/>
        <Shortcut Id="DesktopShortcutId"
                  Name="PowerToys"
                  Description="PowerToys - Windows system utilities to maximize productivity"
                  Target="[INSTALLFOLDER]\PowerToys.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="powertoys.ico"
                  Directory="DesktopFolder"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
